# Godot Build Artifacts
# For the server to be able to test via CI it needs the imports.
#.import
.mono
.vs
# Android Build Artifacts & Gradle
*.iml
.gradle
.idea
# Sphinx documentation build Artifacts
docs/build/
# Godot Android Build Templates
godot/android/build/build/
android/libs/
android/build/
android/freecoilkotlin/build/